h1 {
  font-size: 2em;
}

.product-title {
  font-weight: bold;
  font-size: 18px;
  padding: 30px 48px 0 74px;
  letter-spacing: 1px;
}

.product-id {
  font-size: .8em;
  margin: 1em 0;
  padding: 14px 48px 0 74px;
  color: #fff;
}

.product-edit-icon {
  opacity: .7;
  position: absolute;
  right: 2.3rem;
  top: .4rem;
}

.product-edit-icon svg {
  position: absolute;
}

.product-edit-icon:hover {
  opacity: 1;
}

.navbar, .navbar-end, .navbar-menu, .navbar-start {
  align-items: stretch !important;
  display: flex !important;
}

.navbar-menu {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.navbar-item {
  display: flex !important;
}

.navbar-end {
  justify-content: flex-end !important;
  margin-left: auto !important;
}

.features {
  padding-bottom: 3em;
}

body {
  visibility: visible !important;
}


.auth form {
  margin-top: 1em;
  max-width: 50%;
}

.buttons {
  margin-left: 1em;
}

.screen-bg {
  background: url('screen.png') center no-repeat;
  background-size: cover;
  margin: 10px;
  position: relative;
}

.svg-inline--fa path {
  fill: #fff;
}

.radio {
  padding: 15px;
}

.radio:first-child {
  color: red;
}

.radio:nth-child(2) {
  color: green;
}

.radio:last-child {
  color: blue;
}